body
{
  background-image: url("../Pics/ToDoDp.jpg");
  height: 100%;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-control{
    width: 30%;
}
.container{
    display: flex;
    margin: auto;
}
.taskContainer{
    width: 40%;
    margin-right: 30px;
}
.itemContainer{
    width: 40%;
    margin-left: 80px;
}
.item{
    margin: 0 30px;
}
.button a{
    text-decoration: none;
    color: black;
    float:right ;
    font-size: 0.9rem;
    font-weight: bolder;
    display: contents;
  }
.button{
    float: right;
    margin-right: 50px;
    padding: 3px;
    width: 170px;
    border-radius: 8px;
}